<div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light pt-4">
            <a class="navbar-brand">Employee Tasks <span class="badge badge-secondary">{{TaskCount}}</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li>
                                    <a>Hi Admin</a>
                                    <ul class="dropdown">
                                        <li><a (click)="logout()">Log out</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <img src="../../../../assets/images/user.jpg" height="38" width="38" alt="">
                        
                        </div>
            </div>
        </nav>

        <div class="row p-4">
            <div class="col-1">
                <button class="btn" (click)="goBack()"><i class="fa fa-arrow-left"></i></button>
            </div>
            <div class="col-1">
                <button class="btn " (click)="openPopup()" >Add Task</button>
            </div>
            <div class="col-3"></div>
            <div class="col-2">
                <select  class="form-control" [(ngModel)]="Filterbyvalue"  (change)="Filterbyuser()">
                    <option value="3">View All</option>
                    <option value="2">Completed</option>
                    <option value="1">Not completed</option>
                </select>
            </div>
            <div class="col-5 ml-auto">
                <form>
                    <div class="form-group has-search">
                        <input type="text" class="form-control" [(ngModel)]="searchString" name="searchString"
                            placeholder="Search...">
                    </div>
                </form>
            </div>
        </div>
    <div class="row pt-5">
        <div class="col-3 p-3" *ngFor="let task of TaskListFilter | employee : searchString ">
            <div class="card"  >
                <div class="card-body">
                    <p class="card-text">{{task.title}}</p>
                    <h6 *ngIf="task.completed == true" class="card-subtitle mb-2 text-muted">Completed</h6>
                    <h6  *ngIf="task.completed == false"  class="card-subtitle mb-2 text-muted">Not completed</h6>
                </div>
            </div>
        </div>       
    </div>


    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add New Task</h4>
                </div>
                <div class="modal-body">
                <form [formGroup]="addTaskForm">
                    <div class="form-group">
                        <label for="title" class="text-dark">Title:</label><br>
                        <input type="text" name="title" formControlName="title" id="title" class="form-control">
                    </div>
                </form>                
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" (click)="closePopup()">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary" (click)="AddTask()">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>

