<div class="container pt-5">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" >Employees <span class="badge badge-secondary">{{pageSize}}</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a>Hi Admin</a>
                    <ul class="dropdown">
                        <li><a (click)="logout()">Log out</a></li>
                    </ul>
                </li>
            </ul>
        <img src="../../../../assets/images/user.jpg" height="38" width="38" alt="">

        </div>
    </nav>
 
    <div class="row pt-3" >
        <div class="col-7"></div>

        <div class="col-5 ml-auto">
            <form>
                <div class="form-group has-search">
                    <!-- <span class="fa fa-search form-control-feedback"></span> -->
                    <input type="text" class="form-control" [(ngModel)]="searchString" name="searchString"
                        placeholder="Search...">
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <table class="table table-light">
            <thead>
                <tr>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of EmployeeList  | employee : searchString | 
                 paginate : {itemsPerPage: pageSize, currentPage: page, totalItems: count};">
                    <td  (click)="goToTaskPage(item.id)"><h6 class="link">{{item.name}}</h6></td>
                    <td>{{item.phone}}</td>
                    <td>{{item.email}}</td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-10">
                <div class="d-flex justify-content-center">
                    <pagination-controls previousLabel="Prev" nextLabel="Next" [autoHide]="true" [responsive]="true"
                        screenReaderPaginationLabel="Pagination" (pageChange)="onListDataChange($event)">
                    </pagination-controls>
                </div>
            </div>
            <div class="col-2">
                <select class="form-control p-2" style="width: 60px;" (change)="handlePageSizeChange($event)">
                    <option *ngFor="let size of pageSizes" >{{ size }}</option>
                </select>
            </div>
        </div>
        
    </div>


</div>